/* Estilos generales de la página */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Estilos de la caja contenedora */
.container {
    width: 473.83px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 24px;
    height: 634.3px;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: left;
    transform: translatex(0px) translatey(0px);
}

.containerprofile {
    width: 845.83px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 24px;
    height: 580.3px;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: flex-start;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    transform: translatex(0px) translatey(0px);
}

.container img {
    position: relative;
    top: -123px;
}

/* Estilos del saludo al usuario */
.greeting {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 318.87811279296875px;
    height: 66px;
    top: -77px;
    left: -7px;
    position: relative;
}

/* Estilos del formulario de inicio de sesión */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 356px;
    height: 48px;
}

.container .login-form input[type=email] {
    position: relative;
    top: -66px;
    left: 16px;
}

/* Input */
.container .login-form input[type=password] {
    position: relative;
    top: -58px;
    left: 14px;
}

.login-form button {
    padding: 10px 15px;
    background: #2F80ED;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* Socialmlogos */
.container .socialmlogos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: normal;
    cursor: pointer;
    flex-direction: row;
    position: relative;
    top: -37px;
}

.container .socialmlogos img {
    bottom: -4px;
    top: 33px;
}

/* Estilos CSS para el contenedor del navbar */
.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilos CSS para el navbar */
/* Navbar */
.navbar{
    position:relative;
    right:0px;
    left:0px;
    flex-direction:row;
    align-self:flex-end;
    display: flex;
    align-items: center;
   }
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

.navbar .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mostrar el menú desplegable al hacer hover en el ícono */
.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilos CSS para el logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;